[Desktop Entry]
Type=Application
Name=Heyday
GenericName=Package Manager
Comment=Browse and install packages from repositories and AUR
Exec=heyday
Icon=heyday
Terminal=false
Categories=System;PackageManager;
StartupNotify=true
