[Desktop Entry]
Type=Application
Name=soredowe
GenericName=Package Manager
Comment=Browse and install packages from repositories and AUR
Exec=soredowe
Icon=soredowe
Terminal=false
Categories=System;PackageManager;
StartupNotify=true
